# Condition Operaions

In [1]:
a = 10

In [2]:
b = 12

In [3]:
a == b

False

In [4]:
a > b

False

In [5]:
a >= b

False

In [6]:
not a == b

True

In [7]:
a < b

True

In [8]:
a <= b

True

In [9]:
b > a

True

In [10]:
b >= a

True

In [11]:
not b == a

True

# Chained Comparision Operator

- AND
- OR
- NOT

In [14]:
c = 10

In [13]:
a == b and b == c

False

In [15]:
a == b or b == c

False

In [16]:
a == c and b == c

False

In [17]:
a == c or b == c

True

In [18]:
a > b and b > c

False

In [20]:
b > a or b < c

True

In [21]:
a == c and b > c

True

# Python Statements

- if else
- if elif else
- for
- while

In [28]:
if a == b :
    print(a)
else:
    print(b)

12

In [46]:
n = 10

In [50]:
if n%2 == 0 :
    print ('given number is even {}'.format(n))
else:
    print ('given number is odd {}'.format(n))

given number is even 10

In [53]:
# Multiple Braches of if else that is elif

In [55]:
a = 10
b = 10
c = 8

if a == c :
    print (a)
elif a == b :
        print (a)
else :
            print (c)

10

In [57]:
mark = 50

if mark < 35 :
    print ('failed')
elif mark >= 35 and mark < 50 :
        print ('Second Class')
elif mark >= 50 and mark < 75 :
        print ('First Class') 
elif mark > 75 :
        print ('First Class with Distinction')

First Class

# For Loop

In [58]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [59]:
for i in my_list:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [63]:
for i in my_list:
    if i%2 == 0 :
        print ('given number is even ', i)
    else:
        print ('given number is odd ', i)

given number is odd  1
given number is even  2
given number is odd  3
given number is even  4
given number is odd  5
given number is even  6
given number is odd  7
given number is even  8
given number is odd  9
given number is even  10

In [66]:
my_string = " This is python testing "

for letter in my_string:
    print(letter)

T
h
i
s

i
s

p
y
t
h
o
n

t
e
s
t
i
n
g

In [67]:
t = (1,2,3,4,5)

for tup in t:
    print(tup)

1
2
3
4
5

In [72]:
list_of_tuple = [(1,2),(3,4),(5,6),(7,8)]

for (t1,t2) in list_of_tuple:
    print(t2)

2
4
6
8

In [73]:
d = {'k1':1,'k2':2,'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [81]:
#Unpack a dictionary

for key,value in d.items():
    print(key)
    print(value)

k1
1
k2
2
k3
3

In [82]:
list(d.keys())

['k1', 'k2', 'k3']

In [83]:
list(d.values())

[1, 2, 3]

In [84]:
sorted(d.values())

[1, 2, 3]

In [106]:
# Prime numbers
n = 3
#for i in range(2,n):
    if (n%i) == 0:
    print ('This is prime number', i)

IndentationError: unexpected indent (<ipython-input-106-2b652c51ef9f>, line 4)

In [128]:
n = 4
for i in range(2,n)
if (n%i) == 0 :
    print ('This is not prime number', n)
else:
    print ('This is prime number', n)

SyntaxError: invalid syntax (<ipython-input-128-f08f17d31192>, line 2)

In [123]:
for i in my_list:
    print(i)
else:
    print("Done")

1
2
3
4
5
6
7
8
9
10
Done

# While Loop

In [134]:
x = 0

while x < 5:
    print('x is currently :', x)
    print('x is still less than 5')
    x += 1
else:
    print("While loop done ")

x is currently : 0
x is still less than 5
x is currently : 1
x is still less than 5
x is currently : 2
x is still less than 5
x is currently : 3
x is still less than 5
x is currently : 4
x is still less than 5
While loop done

In [135]:
#break
x = 0

while x < 5:
    print('x is currently :', x)
    print('x is still less than 5')
    x += 1
    if x == 3:
        break
else:
    print("While loop done ")

x is currently : 0
x is still less than 5
x is currently : 1
x is still less than 5
x is currently : 2
x is still less than 5

In [143]:
#continue
x = 0

while x < 5:
    print('x is currently :', x)
    #print('x is still less than 5')
    x += 1
    if x == 3:
        print('still less than 5 ')
        continue    
    if x == 4:
        print('Stop in ', x);
        break        
else:
    print("While loop done ")

x is currently : 0
x is currently : 1
x is currently : 2
still less than 5
x is currently : 3
Stop in  4

In [147]:
#range
for i in range(1,51):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [148]:
my_list = list(range(1,15))

In [149]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [150]:
min(my_list)

1

In [151]:
max(my_list)

14

In [152]:
# Random
from random import shuffle
shuffle(my_list)

In [153]:
my_list

[3, 12, 14, 5, 10, 13, 1, 8, 2, 6, 7, 4, 9, 11]

In [154]:
from random import randint
randint(0,99)

41

In [1]:
# Input
input('Enter Age: ')

Enter Age: 12

'12'