# Functions

# def Statements

In [3]:
def name_of_fun (arg1,arg2):
    '''
    This is the example documentation of function
    '''
    #do our logic here
    print("Hi People ")
    print("how are you all")
    #Rerurn the result
    return arg1 +arg2

In [4]:
name_of_fun(1,2)

Hi People
how are you all

3

In [5]:
help(name_of_fun)

Help on function name_of_fun in module __main__:

name_of_fun(arg1, arg2)
    This is the example documentation of function

# Example 1

In [9]:
def example_1 (name):
    #print("Hello {}",name)
    print("Hello %s" %(name))

In [10]:
example_1("karthik")

Hello karthik

In [11]:
#Addition function
def add_num(num1, num2):
    return num1+num2

In [12]:
add_num(4,5)

9

In [13]:
print(add_num(4,6))

10

In [14]:
print(add_num("Hello ", "Karthik"))

Hello Karthik

# Eample for testing a number is prime or not

In [39]:
def is_prime(num):
    for i in range (2,num):
        if num%i == 0:
            print("The given number is not prime", num)
            break
    else :
        print("The given number is prime ", num)

In [33]:
is_prime(3)

The given number is prime  3

In [40]:
print(is_prime(5))

The given number is prime  5
None

In [56]:
# Example odd or even
def is_odd_even(n1,n2):
    num1 = n1%2
    num2 = n2%2
    if num1==0 and num2==0:
        if n1 < n2:
            print("The least even number is ",n1)
        else:
            print("The least even number is ",n2)
    elif num1 != 0 and num2 != 0: 
        if n2 > n1:
            print("The greatest odd number is ",n2)
        else:
            print("The greatest odd number is ",n1)
    else:
        print("NONE")

In [58]:
is_odd_even(6,4)

The least even number is  4

In [57]:
is_odd_even(3,9)

The greatest odd number is  9

In [131]:
# String Comparision
def is_string_equal(name):
    print(name[0])
    print(name.split(" ")[1][0])
    if name[0] == name.split(" ")[1][0]:
        print("True")
    else:
        print("False")

In [134]:
is_string_equal("Karthik Selvan")

K
S
False

In [66]:
#MAKES THIRTY
def is_makes_thriry(n1,n2):
    if n1 == 30 or n2 == 30:
        print("TRUE")
    elif n1+n2 == 30:
        print("TRUE")
    else:
        print("FALSE")

In [67]:
is_makes_thriry(23,7)

TRUE

In [68]:
is_makes_thriry(30,7)

TRUE

In [69]:
is_makes_thriry(7,7)

FALSE

In [84]:
#Capitalize 1st and 4th letter
def cap_letter(name):
    return str(name)[0].upper() + name[1:3] + str(name)[3].upper() + name[3:]

In [85]:
cap_letter("karthik")

'KarTthik'

In [87]:
# Almost There
def number_range(num):
    if num < 90 or num > 110 or num < 190 or num > 210:
        print("TRUE")
    else:
        print("FLASE")

In [88]:
number_range(96)

TRUE

In [89]:
number_range(102)

TRUE

In [90]:
number_range(140)

TRUE

In [100]:
# FIND 22
def find_22(list_val):
    for i in list_val:
        print(i)
        if i == 2:
            print

In [101]:
find_22([1,2,2])

1
2
2